$addColor: #00b551;
$primaryColor: #283593;
$secodaryColor: #e78200;
.login-container{
    height: 100%;
    background-image: url('../../Assets/Images/vietnamese_beef_pho_22510_16x9.jpg');
    display:flex;
    justify-content: center;
    align-items: center;
}
