$greenColor: #537A1C;
$primaryColor: #283593;
$secodaryColor: #e78200;

.tableDetail-container{
    flex:1;
    display:flex;
    flex-direction: column;
    background: white;
    border-radius:20px;
    width:100%;

    button{
        outline: none;

        &:hover{
            background: transparent;
        }
    }

    &__info{
        flex-grow: 1;
        overflow:auto;
        height: 0;
        .order-null{
            display:flex;
            justify-content: center;
            align-items: center;

            padding:5px;
            height: 90%;
            p{
                font-weight: bold;
                font-size: x-large;
                color: $primaryColor;
            }
        }
        .OrderDetail-container{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            &__index{
                flex:0.1;
                display:flex;
                justify-content: center;
            }
            &__name{
                flex:0.3;
                font-weight: bold;   
            }
            &__quantity{
                display: flex;
                flex:0.2;
                p{
                    margin: auto;
                }
            }
            &__price{
                font-weight: bold;
                color: $secodaryColor;
                flex:0.2;
            }
            &__buttons{
                flex:0.2
            }
            .order--done{
                color:$greenColor
            }
        }   
        .OrderNote-container{
            margin-left: 1rem;
            margin-top: 0;
            font-style: italic;
            font-size: small;
        } 
    };

    &__tools{
        display:flex;
        flex-direction: column;
        border-radius: 0px 0px 20px 20px;
        border-top: 3px solid $primaryColor;
        .total-price{
            flex:0.3;
            display:flex;
            padding: 0px 10px 0px 10px;
            p{
                flex:0.5;
                font-weight: bold;
            }
        }
        .button-wrapper{
            flex:0.7;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            background: transparent;
           
            button{
                
                height:50px;
                color:white;  
            }
            .btn-add{
                border-radius:0px 0px 15px 15px;
                background:$greenColor;
                flex:1
            }
            .btn-charge{
                flex:0.5;
                border-radius:0px 0px 0px 15px;
                background: blue;
            }.btn-edit{
                flex:0.5;
                border-radius: 0px 0px 15px 0px;
                background: red;
            }
        }
    }
}
